.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.chorno{
  width: 300px;
  border: 1px solid;
  text-align: center;
  border-radius: 5px;
}

.chorno h3 {
 padding: 30px;
 margin: 30px;
 background-color: #11cad8;
 border-radius: 8px;
}

.chorno button{
  background-color: white;
  margin: 5px;
  margin-bottom: 30px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid gray;
  cursor: pointer;
}